.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px !important;
}

.mat-toolbar.mat-primary {
  background: #000000;
}

span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  img {
    height: 38px;
    width: 38px;
    border: 4px solid #b4ad94;
    padding: 0px;
    position: absolute;
    margin-top: 3px;
  }

  p {
    line-height: 1;
    margin-left: 50px;
    font-size: 15px;
    margin-bottom: 0;

    i {
      font-size: 13px;
    }
  }
}

