<div class="container">
  <div class="container row mt-4">
    <div class="col col-12">
      <h3>{{ title }} Categoria</h3>
      <hr class="w-100">
    </div>
  </div>
  <div class="container">
    <form [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row mb-4">
      <div class="col col-6">
        <button mat-raised-button class="w-100" (click)="onCancel(false)">Cancelar</button>
      </div>
      <div class="col col-6">
        <button mat-raised-button color="primary" class="w-100" [disabled]="!isFormValid" (click)="onSave()">Guardar
        </button>
      </div>
    </div>
  </div>
</div>





